@charset "utf-8";
/* css document */

h1 {
  color:white;
  font-size:36px;
}
body {
  text-align:center;
  max-width:960px;
}
h4 {
  font-size:24px;
  text-transform:uppercase;
}
#wireframe {
  background-image:url(images/bkg.jpg);
}
section img {
  max-width:100%;
  height:auto;
}
